<%= javascript_pack_tag 'messages'%>
<div class="container-fluid">
  <div class = "row">
    <div class="col-sm-10">
      <div class="row">
        <h1><%= @channel.name %></h1>
        <%= link_to "back to channels", "/"%>
      </div>
      <div class="row">
        <main class="col-md-9" role="main">
          <div class="container-fluid" id="messageContainer" style="overflow:auto;height: calc(85vh - 7rem);">
          <%= render template: "messages/show" %>
          </div>
        </main>
      </div>
    </div>
      <div class="col-sm-2 bd-sidebar">
        <%=render template: "channels/userindex",cached:true %>
      </div>
  </div>
  <div class="col-md-9">
    <div class="messageBar">
      <%= form_with model: [@channel,@channel.messages.build] do |f| %>
        <% cache f do %>
          <%= f.text_field :content %>
          <%= f.submit "Send message", class: "btn btn-primary"%>
          <%end%>
      <% end %>
    </div>
  </div>
</div>
