<h1><%= @channel.name %></h1>
<%= link_to "back to channels", "/channels/"%>
<div>
    <%=render template: "message/show"%>
    <div class="messageBar">
        <% if @channel then%>
        <%= form_with model: [@channel,@channel.messages.build] do |f| %>
        <%= f.text_field :content %>
        <%= f.submit "Send message", class: "btn btn-primary"%>
        <% end %>
        <% end %>
    </div>
  <h1>user list</h1>
  <div class="show-user-list">
    <% @users.each do |user| %>
      <div class="user">
        <%= user.username%>
      </div>
    <% end %>
  </div>
</div>
