<%= stylesheet_link_tag 'channels' %>
<div class="container">
  <div class="row align-items-start">
    <div class="col-md-10">
      <h1><%= @channel.name %></h1>
      <%= link_to "back to channels", "/"%>
      <%= render template: "messages/show" %>
    </div>
    <div class="col-md-2">
      <main class="content">
          <div class="container p-0">
              <h1 class="h3 mb-3">User List</h1>
              <div class="card">
              <div class="row g-0">
                <div class="col-2 col-lg-2 col-lg-2 border-right">
                <% @users.each do |user| %>
                  <% if user.username == "guest" %>
                    <% next %>
                  <% end %>

                  <a href='/users/<%= user.id %>' class="list-group-item list-group-item-action border-0">
                    <div class="d-flex align-items-center">
                      <% if user.image.attached? %>
                        <%= image_tag(user.image, width:"40", height:"40")%> 
                      <% end %> 
                        <strong><%= user.username %></strong>
                    </div>
                  </a>
                <% end %>
                <hr class="d-block d-lg-none mt-1 mb-0">
                </div>
            </div>
        </div>
      </main>
    </div>
  </div>
  <div class="col-md-9 align-self-end">
    <div class="messageBar">
      <%= form_with model: [@channel,@channel.messages.build] do |f| %>
        <%= f.text_field :content %>
        <%= f.submit "Send message", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>


