<h1><%= @channel.name %></h1>
<%= link_to "back to channels", "/channels/"%>
<%= @channel.messages.each.size.inspect%>
<% @channel.messages.each do |message|%>
<%= message.content%>
<% end %>
<%=render template: "message/show"%>
<h1>user list</h1>
<div class="show-user-list">
  <% @users.each do |user| %>
    <div class="user">
      <%= user.username%>
    </div>
  <% end %>
</div>
