<%= javascript_pack_tag 'messages'%>
<% if @channel then%>
<div class="Messaging" id="messageContainer">
  <div class="showMessage">
    <% if @channel.messages then%>
      <% @channel.messages.each do |message| %>
        <% if message.parent_message_id == nil %>
          <div class="message">
            <b><%= User.find(message.user_id).username %>:</b>
            <%= form_with model: message do |f| %>
              <%= f.text_field :content %>
              <%= f.submit "Edit", class: "btn btn-primary"%>
            <% end %>
          </div>
          <button type="button" class="btn" data-message-id=<%= message.id %> data-channel-id = <%= @channel.id %> data-authenticity="<%= form_authenticity_token %>">Reply</button>
        <% end %>
        <div id=<%= message.id %> style="color:blue">
          <% message.replies.each do |reply| %>
            <div><%= User.find(reply.user_id).username %>(reply):</div>
            <%= form_with model: reply do |f| %>
              <%= f.text_field :content %>
              <%= f.submit "Edit", class: "btn btn-primary"%>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% else %>
  <p>channel is Nil </p>
  <%= params.inspect%>
<% end %>
