  <% if @channel then%>
      <% if @channel.messages then%>
        <% @channel.messages.where(parent_message_id:nil).last(10).each do |message| %>
          <% if message.parent_message_id == nil %>
            <% @presentMessager = User.find_by(id:message.user_id) %>
                <div class="list-group-item" id=<%=message.id%>>
                  <% if @presentMessager.image.attached? %>
                    <%= image_tag(@presentMessager.image, width:"40", height:"40", class:"lazy", loading:"lazy")%> 
                  <% end %>
                  <b><%= @presentMessager.username %>:</b>
                  <%= form_with(model: message,local: false) do |f| %>
                    <%= f.text_field :content %>
                    <%= f.submit "Edit", class: "btn btn-primary"%>
                    <button type="button" class="btn" data-message-id=<%= message.id %> data-channel-id = <%= @channel.id %> data-authenticity="<%= form_authenticity_token %>">Reply</button>
                  <% end %>
                </div>
                <% message.replies.each do |reply| %>
                  <div class="list-group-item" style="color:blue" id=<%= reply.id %>>
                    <%= form_with(model: reply,local: false)do |f| %>
                    <div>
                    <% if reply.user.image.attached? %>
                      <%= image_tag(reply.user.image, width:"40", height:"40", class:"lazy", loading:"lazy")%> 
                    <% end %>
                    <%= reply.user.username %>(reply):
                    </div>
                        <%= f.text_field :content %>
                        <%= f.submit "Edit", class: "btn btn-primary"%>
                    <% end %>
                  </div>
                <% end %>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
    <p>channel is Nil </p>
    <%= params.inspect%>
  <% end %>