<%= javascript_pack_tag 'messages'%>
<% if @channel then%>
<div class="Messaging" id="messageContainer">
    <div class="showMessage">
        <% if @channel.messages then%>
            <% @channel.messages.each do |message| %>
            <% if message.parent_message_id == nil %>
            <div class="message">
                <b><%= message.user_id%>:</b>
                        <%= form_with model: message do |f| %>
                            <%= f.text_field :content %>
                            <%= f.submit "Edit", class: "btn btn-primary"%>
                        <% end %>
            </div>
            <button type="button" class="btn btn-primary" onclick='add_child_form(<%= message.id %>, <%= @channel.id %>, "<%= form_authenticity_token %>")'>Reply</button>
        <% end %>
        <div id=<%= message.id %> style="color:blue">
                    <% message.replies.each do |reply| %>
                <div>Reply:</div>
                <%= form_with model: reply do |f| %>
                            <%= f.text_field :content %>
                            <%= f.submit "Edit", class: "btn btn-primary"%>
                        <% end %>
            <% end %>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
<% else %>
    <p>channel is Nil </p>
    <%= params.inspect%>
<% end %>