<div class="Messaging">
    <div class="showMessage">
        <%= params.inspect %>
        <% if @channel then%>
            <% @channel.messages.each do |message| %>
                <%= form_with model: message do |f| %>
                    <%= f.text_field :content %>
                    <%= f.submit "Edit", class: "btn btn-primary"%>
                <% end %>
            <% end %>
        <% end%>
    </div>
</div>
<%= content_for :render_async %>
