<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'shared/navigation_bar' %>
    <div class="container">
      <%= yield %>
      <%= content_for :render_async %>
    </div>
  </body>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
</html>