<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container-fluid">
    <%= render partial: 'shared/navigation_bar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
</html>
